[flake8]
max-complexity = 21
max-adjustable-complexity = 15
max_cognitive_complexity = 15
max-annotations-complexity = 4
max-line-length = 79
max_parameters_amount = 10
ignore =
    # Allow f-strings
    WPS305
    W503
exclude =
    tests/*,
    venv*
