bandit==1.7.4
black==22.10.0
coverage==6.5.0
flake8==5.0.4
isort==5.11.4
mypy==0.990
pre-commit==2.20.0
pytest==7.2.0
PyYAML==6.0
toml==0.10.2
tomli==2.0.1
types-PyYAML==6.0.12.1
types-toml==0.10.8.1
types-ujson==5.6.0.0
ujson==5.6.0